<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="not.component.css" type="text/css">
</head>

<body>
<div class="fallingAgieh">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

</div>
<div style="height: 2rem"></div>
<div style="z-index: -1">
    <img src="http://x3.cdn03.imgwykop.pl/c3201142/comment_7GtaoNQcYilKovGio9NA6BttKZyNFkIk,w400.jpg" class="spock"
         style="margin-bottom: 1rem">
    <h1>Kuuuuuuuuuuurwa</h1>
    <p>Zjebałeś, Spock.</p>
</div>
</body>

</html>
<!-- IE needs 512+ bytes: http://blogs.msdn.com/b/ieinternals/archive/2010/08/19/http-error-pages-in-internet-explorer.aspx -->